.result-page {
  &__container {
    padding: 24px 22rem;
  }

  &__main {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    padding: 1.5rem 5rem 0;
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__stats {
    display: flex;
    justify-content: center;
    gap: 1rem;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
}

[tuiSubtitle] {
  font-size: 16px;
  font-weight: bold;
}
