<div class="form-container">
  <form
    class="registration-form"
    style="padding: 2%"
    tuiAppearance="floating"
    tuiForm="l"
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
  >
    <header tuiHeader>
      <h2 tuiTitle>Регистрация</h2>
    </header>

    <tui-textfield>
      <label tuiLabel>Имя</label>
      <input tuiTextfield [formControl]="registrationForm.controls.name" />
    </tui-textfield>
    <tui-error [formControl]="registrationForm.controls.name" [error]="[] | tuiFieldError | async" />

    <tui-textfield>
      <label tuiLabel>Фамилия</label>
      <input tuiTextfield [formControl]="registrationForm.controls.surname" />
    </tui-textfield>
    <tui-error [formControl]="registrationForm.controls.surname" [error]="[] | tuiFieldError | async" />

    <div class="wrapper tui-space_top-3" [tuiDateFormat]="{mode: 'DMY'}">
      <tui-input-date
        [required]="true"
        [tuiDateFormat]="{separator: '.'}"
        [max]="maxDate"
        [formControl]="registrationForm.controls.birthDate"
      >
        Дата рождения
        <input tuiTextfieldLegacy />
      </tui-input-date>
    </div>

    <tui-input-phone [required]="true" [formControl]="registrationForm.controls.phoneNumber">
      Номер телефона
    </tui-input-phone>

    <tui-input
      *ngIf="registrationForm.controls['email'].value ?? '' | tuiEmails: autocompleteEmails as emails"
      class="tui-requierd"
      [required]="true"
      [formControl]="registrationForm.controls.email"
    >
      Email
      <ng-template *ngIf="emails.length" tuiDataList>
        <tui-data-list-wrapper [items]="emails" />
      </ng-template>
    </tui-input>

    <tui-textfield>
      <label tuiLabel>Пароль</label>
      <input tuiTextfield type="password" [formControl]="registrationForm.controls.password" />
      <tui-icon tuiPassword />
    </tui-textfield>

    <button tuiButton type="submit" [disabled]="registrationForm.invalid">Регистрация</button>
  </form>
  <img src="assets/img/logo.png" alt="logo" class="big-logo" />
</div>
