<main class="courses-page__main">
  <div tuiAppearance="floating" tuiCardLarge>
    <header tuiHeader>
      <h1 tuiTitle>Курсы</h1>
    </header>

    <tui-filter size="m" [items]="items" [ngModel]="model()" (ngModelChange)="onFilterChange($event)" />

    <section class="courses-page__grid">
      <ng-container *ngFor="let course of paginatedCourses()">
        <button tuiCardLarge tuiHeader tuiSurface="floating" type="button" (click)="navigateToTests(course.id)">
          <div tuiCell="l">
            <span tuiTitle>
              {{ course.title }}
              <div tuiSubtitle>{{ course.description }}</div>
            </span>
          </div>

          <aside>
            <tui-avatar size="l" [src]="course.imageUrl | tuiFallbackSrc: '@tui.star' | async" />
          </aside>
          <tui-icon
            size="m"
            tuiBadge
            tuiSlot="bottom"
            [appearance]="course.isStarted ? 'positive' : 'negative'"
            [icon]="course.isCompleted ? '@tui.check' : '@tui.book-open'"
          >
          </tui-icon>
        </button>
      </ng-container>
    </section>

    <tui-pagination [index]="index()" [length]="totalPages()" (indexChange)="goToPage($event)" />
  </div>
</main>
