.training {
  padding: 2rem;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 28.5rem;
    padding-bottom: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 10.5rem;
  }

  &__activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  &__days-grid {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__day {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__day-label {
    font-size: 0.8rem;
    margin-top: 4px;
    color: #5a5a5a;
  }

  &__inactive-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }

  &__streak {
    font-size: 48px;
    font-weight: bold;
    color: #2cc328;
    padding: 50px;
  }
}

.calendar {
  &-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-chip {
    width: 100%;
    font-weight: 500;
    justify-content: center;
  }
}

.fire-animation {
  display: block;
  animation:
    flicker 4.5s infinite ease-in-out,
    sway 5s infinite ease-in-out;
}

@keyframes flicker {
  0% {
    transform: scale(1) translateY(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.1) translateY(-5px) rotate(5deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translateY(0) rotate(0deg);
    opacity: 1;
  }
}
