<div tuiAppearance="floating" tuiCardMedium class="training">
  <div class="training__header">
    <header tuiHeader>
      <h1 tuiTitle>Календарь обучения</h1>
    </header>
    <header tuiHeader>
      <h1 tuiTitle>Серия ежедневных занятий</h1>
    </header>
  </div>

  <div class="training__content">
    <div class="calendar-container">
      <tui-calendar-range
        [markerHandler]="markerHandler"
        [max]="MAX_DATE"
        [min]="MIN_DATE"
        [items]="calendarRangeFilter"
        (valueChange)="onRangeChange($event)"
      />
      <tui-chip class="calendar-chip" appearance="positive">
        Активных дней за период: {{ activeDaysCount() }}
      </tui-chip>
    </div>
    <div class="training__activity">
      <span class="training__streak">{{ progress().streak }}</span>
      <div class="training__days-grid">
        <ng-container *ngFor="let day of weekDays()">
          <div class="training__day">
            <tui-avatar
              *ngIf="day.active"
              class="fire-animation"
              size="m"
              [src]="'assets/img/fire-activity.png'"
            ></tui-avatar>
            <span *ngIf="!day.active" class="training__inactive-circle"></span>
            <div class="training__day-label">{{ day.short }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
