.cards {
  cursor: pointer;
  justify-content: flex-end;
  background: linear-gradient(3deg, rgba(63, 180, 33, 0.65), rgba(79, 143, 237, 0.62));
  color: white;
}

section {
  display: flex;
  gap: 0.75rem;
  overflow: scroll;
}
