.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10vh;
}

.auth-form {
  max-width: 52vh;
  width: 100vh;
  border-radius: 5%;
}

.big-logo {
  width: 35vh;
  height: 35vh;
}

.flx-col-gap {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}
