<header class="profile-page__header">
  <profile-header
    [profileInfo]="profileInfo()"
  ></profile-header>
</header>

<main class="profile-page__main">
  <div tuiAppearance="floating" tuiCardLarge style="flex-direction: row">
    <language-progress></language-progress>
    <div class="stats">
      <user-stats></user-stats>
    </div>
  </div>

  <div class="profile-page__section">
    <courses-list></courses-list>
  </div>

  <div class="profile-page__section">
    <progress-training-days></progress-training-days>
  </div>
</main>
