<div class="tasks-page__container">
  <div tuiAppearance="floating" tuiCardLarge>
    <header class="tasks-page__header">
      <progress tuiProgressBar style="width: 50%" [max]="10" [segments]="10" [value]="7"></progress>
      <h2>{{ taskTitle }}</h2>
    </header>
    <main class="tasks-page__main">
      <ng-container [ngSwitch]="currentTask.type">
        <match-pairs *ngSwitchCase="taskTypeEnum.MATCHING"></match-pairs>
        <fill-blank *ngSwitchCase="taskTypeEnum.FILL_IN_THE_BLANK"></fill-blank>
        <multiple-choice *ngSwitchCase="taskTypeEnum.MULTIPLE_CHOICE"></multiple-choice>
        <audio-translation *ngSwitchCase="taskTypeEnum.AUDIO_TRANSLATION"></audio-translation>
        <listening *ngSwitchCase="taskTypeEnum.LISTING"></listening>
      </ng-container>
    </main>
  </div>
</div>
