@import 'ngx-toastr/toastr';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  --color-up: #aff218;
  --color-down: rgba(252, 35, 0, 0.57); ;
}

.mb8 {
  margin-bottom: 8px;
}
